.login-div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../static/image/background.jpg");
    background-size: 100% 100%;
}

.login-form{
    width: 400px;
    height: 350px;
    text-align: center;
    background: #ffffff;
}

.login-input{
    width: 300px;
}

.login-head{
    padding: 30px 5px 30px 0;
}

.body{
    /*height: 100%;*/
}

.home{
    text-align: center;
    font-size: 50px;
}

.label{
    display: flex;
    align-items: center;
}

.tab{
    height: calc(100vh - 60px);
}

.head{
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.menu-head{
    height: 50px;
    display: flex;
    align-items: center;justify-content: center;
}

.bread{
    margin: 0 10px;
    color: #999;
}

.iframe{
    height: calc(100vh - 110px);
    width: 100%;
    border: none;
    overflow: auto;
}

.search-div{
    margin-top: -10px;
    align-items: center;
    height: 40px;
    display: flex;
}

.search-input{
    height: 30px;
    display: inline;
    width: 200px;
    margin-right: 20px;
}

.search-inline{
    width: 700px;
    display: inline-flex;
}

.layui-input-form{
    width: 500px;
}

.layui-textarea-form{
    height: 100px;
}

.btn-div{
    text-align: center;
}

.btn-save{
    width: 80px;
    border-radius: 100px;
}

.border{
    border: 1px solid #eee;
}