<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑菜单</title>
    <link rel="stylesheet" href="../../static/layui-v2.6.8/layui/css/layui.css"/>
    <link rel="stylesheet" href="../../static/css/common.css"/>
</head>
<body class="body" style="padding: 30px 50px;">
<div id="app">
  <form class="layui-form" lay-filter="form">
    <input name="id" style="display: none">
    <div class="layui-row layui-col-space10">
      <div class="layui-col-sm6">
        <div class="layui-form-item">
          <div class="layui-form-label">上级目录</div>
          <div class="layui-inline">
            <input v-model="parentId" type="text" id="tree" name="parentId" lay-verify="required" lay-filter="tree" placeholder="请选择上级目录" class="layui-input layui-input-form">
          </div>
        </div>
      </div>
      <div class="layui-col-sm6">
        <div class="layui-form-item">
          <div class="layui-form-label">菜单排序</div>
          <div class="layui-inline">
            <input class="layui-input" lay-verify="required|number" name="sort" placeholder="请输入菜单排序">
          </div>
        </div>
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-form-label">菜单类型</div>
      <div class="layui-inline">
        <input type="radio" lay-filter="type" name="type" value="1" title="菜单" checked>
        <input type="radio" lay-filter="type" name="type" value="2" title="页面">
        <input type="radio" lay-filter="type" name="type" value="3" title="按钮">
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-form-label">菜单名称</div>
      <div class="layui-inline">
        <input class="layui-input layui-input-form" lay-verify="required" name="name" placeholder="请输入菜单名称">
      </div>
    </div>
    <div v-if="isPage" class="layui-form-item">
      <div class="layui-form-label">菜单路径</div>
      <div class="layui-inline">
        <input class="layui-input layui-input-form" lay-verify="required" name="path" placeholder="请输入菜单路径">
      </div>
    </div>
    <div class="layui-form-item btn-div">
      <div class="layui-inline">
        <button type="button" class="layui-btn layui-btn-sm layui-btn-primary btn-save" @click="cancel">取消</button>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal btn-save" lay-submit lay-filter="form" @click="save">保存</button>
      </div>
    </div>
  </form>
</div>
</body>
<script src="../../static/layui-v2.6.8/layui/layui.js"></script>
<script src="../../static/js/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="../../static/js/http.js"></script>
<script src="../../static/js/vue3.js"></script>
<script src="../../static/js/common.js"></script>
<script>
  const app = {
    data(){
      return{
        parentId: '',
        isPage: false
      }
    },
    mounted: function () {

    },
    methods: {
      getParentTree(parentId) {
        const _this = this
        get('/sys/menu/select/tree', null).then(res => {
          if (res.success){
            _this.$nextTick(function () {
              layui.config({
                base: '../../static/js/'
              }).use('treeSelect', function () {
                const treeSelect = layui.treeSelect
                _this.renderParentTree(treeSelect, res.data, parentId)
              })
            })
          } else {
            errorMsg(res.msg)
          }
        })
      },
      renderParentTree(treeSelect, data, parentId){
        const _this = this
        treeSelect.render({
          elem: '#tree',
          data: data,
          style: {
            folder: {
              enable: true
            },
            line: {
              enable: true
            }
          },
          search: true,
          click: function(obj){
            _this.parentId = obj.current.id
          },
          success: function (data) {
            //  默认为0，即顶级目录
            parentId = parentId ? parentId : 0
            _this.parentId = parentId
            treeSelect.checkNode('tree', parentId)
          }
        })
      },
      save(){
        const _this = this
        _this.$nextTick(function () {
          const form = layui.form
          form.on('submit(form)', function (data) {
            post('/sys/menu/edit', data.field).then(res => {
              if (res.success){
                successMsg(res.data)
                window.parent.getChild()
                _this.cancel()
              } else {
                errorMsg(res.msg)
              }
            })
            return false
          })
        })
      },
      cancel(){
        parent.layer.closeAll()
      }
    }
  }
  const vue = Vue.createApp(app).mount('#app')

  layui.use('form', function () {
    const form = layui.form
    form.on('radio(type)', function (data) {
      vue.isPage = data.value === '2' || data.value === '3';
    })
  })

  //  获取父页面的传值
  function getParentData(data) {
    if (data && data.id){
      const form = layui.form
      if (data.type === '2' || data.type === '3'){
        vue.isPage = true
      }
      setTimeout(function () {
        form.val('form', data)
      }, 1)
    }
    vue.getParentTree(data.parentId)
  }
</script>
<style>

</style>
</html>